---
import AboutMe from '../../components/About-me.astro';
import IconsFixed from '../../components/IconsFixed.astro';
import Profile from '../../components/containers/Profile.astro';
import Projects from '../../components/containers/Projects.astro';
import Section from '../../components/Section.astro';
import Tecnologias from '../../components/Tecnologias.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="George Mendoza - Desarrollador web">
	<main class="px-4">

		<Section class="pt-32 md:pt-56 pb-28 " id="inicio">
			<Profile />
		</Section>

		<div class="space-y-24">
			
			<Section class="flex mx-auto" id="proyectos">
				<Projects />
			</Section>
			
			<Section class="flex mx-auto" >	
				<Tecnologias />
			</Section>

			<Section class="flex mx-auto" id="sobremi">
				<AboutMe />
			</Section>
		</div>

		
	</main>
	<div class="absolute">
		<IconsFixed />
	</div>
</Layout>