---
import PersonInfo from "./icons/PersonInfo.astro";
import Section from "./Section.astro";
---

<div class="max-w mx-auto">
    <div class="flex flex-col items-start ">

        <span class="flex items-center justify-center gap-x-4 text-2xl font-bold text-start">
            <PersonInfo class="size-8"/>
            Sobre Mi</span>

        <div class="info-me pt-6">
            <span class="text-pretty lg:text-[18px] text-[16px] text-white/90 font-medium">
                Soy un estudiante apasionado por la programación, con un enfoque particular en el <span class="text-red-300/90">FrontEnd</span>. Me esfuerzo constantemente por mejorar mis conocimientos y habilidades, 
                y disfruto resolviendo desafíos que me permiten afinar mi lógica y creatividad. 
                Ya sea aprendiendo una nueva tecnología o depurando código, siempre estoy listo para enfrentar cualquier reto que se cruce en mi camino.
            </span>
        </div>
    </div>
</div>
