<a {...Astro.props}
href="CV GEORGE MENDOZA.pdf"
download="GeorgeMendoza_CV.pdf"
class="border-2 text-lg font-bold border-[#63eb]/40 shadow-2xl px-16 py-1 rounded-3xl mt-4 hover:shadow-[#63eb] hover:scale-110 transition delay-75"
>
<slot />
</a>
