---
import CambioIdioma from "./CambioIdioma.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);
---

<header class="flex fixed md:justify-center justify-end items-center z-50 mx-auto w-full">
    
  <nav
    class="hidden md:flex mt-5 gap-x-6 bg-[#0a0a0ab3] rounded-3xl px-8 py-2 w-auto z-50 lg:gap-12 font-normal lg:text-[16px] text-[10px] items-center justify-center leading-4"
  >   
    <div class="hidden w-full md:flex items-center gap-x-6 md:w-auto " id="navbar-default">
      <a href={translatePath("#inicio")}>{t("nav.home")}</a>
      <hr class="h-px my-2 bg-gray-500 border dark:bg-gray-700">
      <a href={translatePath("#proyectos")}>{t("nav.projects")}</a>
      <hr class="h-px my-2 bg-gray-500 border dark:bg-gray-700">
      <a href={translatePath("#formacion")}>{t("nav.training")}</a>
      <hr class="h-px my-2 bg-gray-500 border dark:bg-gray-700">
      <a href={translatePath("#sobremi")}>{t("nav.sobremi")}</a>
      <CambioIdioma />
    </div>
  </nav>


</header>

  <style>
    nav {
      backdrop-filter: blur(10px);
      border: 0.2px solid #bbbbaa99;
    }
  </style>