---
import GithubInfo from "./icons/GithubInfo.astro";
import LinkeInInfo from "./icons/LinkeInInfo.astro";
import IconsProfile from "./IconsProfile.astro";
---

<nav class=" fixed flex flex-col bottom-10 left-4 justify-center lg:justify-start animate-fade-in-up ">
    <IconsProfile href="https://www.linkedin.com/in/george-mendoza-masache/">
      <LinkeInInfo class="size-8" />
      
    </IconsProfile>
    <IconsProfile href="https://github.com/Georgezq">
      <GithubInfo class="size-8" />
      
    </IconsProfile>
  </nav>
</div>